/*Corpo pagina inicial*/
body{
  margin: 66px;
  box-sizing: border-box;
  margin-top: 0;
}

.container {
  line-height: 150%;
}
/*Escrita inicial com a gaiaPontos você so ganha*/
h2 {
  margin-top: 0;
  font-weight: 900;
  font-size: 30px;
  color: #050505;
  text-align: center;
  font-family: 'calibri', cursive;
}
/*GaiaPontos*/
.header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
}

.header h1 {
  color: #050505;
  font-size: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin: 10px;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

/*menu principal*/
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(4, 172, 18);
}
ul.menu li {
  float: left;
}
ul.menu li a {
  font-size:x-large;
  display: block;
  color: #050505;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.menu li a:hover {
  background-color: #ddd;
}


/*Margem quadrada do body*/
.content {
  margin-left: 115px;
  margin-right: 115px;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid  #d4d4d4 ;
  border-top: 1px solid #d4d4d4;
  padding: 1em;
  overflow: hidden;
}

table {
  font-family: calibri, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 30px 0;
  font-size: 17px;
}
td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align:left;
  color: #050505;
}

.destaquePonto{
  font-size:x-large;
  text-align:center;
}

tr:nth-child(1) {
  background-color: rgb(4, 172, 18);
  color: #050505;
  font-size: 20px;
}

tr td i.fas {
  display: block;
  font-size: 35px;
  text-align: center;
}



.login-and-register-buttons {
  position: absolute;
  top: 20px; /* Ajuste a posição vertical como desejar */
  right:170px; /* Ajuste a posição horizontal como desejar */
}

.login-and-register-buttons a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgb(4, 172, 18); /* Cor de fundo */
  color: #050505; /* Cor do texto */
  text-decoration: none;
  border-radius: 5px; /* Cantos arredondados */
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-and-register-buttons a:hover {
  background-color: rgb(4, 172, 18); /* Cor de fundo ao passar o mouse */
}


button:hover {
  background-color: rgb(4, 172, 18);
}

/* Estilo para o componente de login */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o componente de login no centro da página */
.center {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 60vh;
}


/*formulario cadastro cliente*/
/* Estilo para o container da página de cadastro */
.page-containerCliente {

  width: 900px; /* Largura do container */
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7; /* Cor de fundo */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* Estilo para o título "Cadastro de Cliente" */
.page-containerCliente h1 {
  font-size: 24px; /* Tamanho da fonte do título */
  font-weight: bold;
  color: #333; /* Cor do título */
  margin-bottom: 20px;
}

/* Estilo para o formulário */
.page-containerCliente form {
  display:inline-table;
  gap: 5px;
}

/* Estilo para os rótulos dos campos */
.page-containerCliente label {
  font-weight:bold;
  color: #555; /* Cor dos rótulos */
}

/* Estilo para os campos de entrada */
.page-containerCliente input {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

/* Estilo para o botão "Cadastrar" */
.page-containerCliente .btn-cadastrar {
  display: inline-block;
  background-color: rgb(4, 172, 18); /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20xp;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Efeito de transição no hover */
}

/* Estilo para o botão "Cadastrar" no hover */
.page-containerCliente .btn-cadastrar:hover {
  background-color: rgb(3, 108, 12); /* Cor de fundo no hover */
}

/* Estilo para mensagens de erro */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
